@import "tailwindcss";

:root {
  --black: #171717;
  --accent: #532ec5;
  --secondary: #7851eb;
  --dark-grey: #292828;
  --purple: #4e0d79;
  --hover: #1f0b5c;
  --text-color: #fdf8f8;
  --white: #fdfdfd;
  --popup-white: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  color: var(--text-color);
}

h1 {
  font-family: var(--font-heading);
}